In [69]:
import pandas as pd
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
jamestown_df = city_data_df.loc[city_data_df["City"]=="Jamestown"]
albany_df = city_data_df.loc[city_data_df["City"] == "Albany"]
morehead_df = city_data_df.loc[city_data_df["City"] == "Morehead"]
eureka_df = city_data_df.loc[city_data_df["City"] == "Eureka"]
vacation_df = pd.concat([jamestown_df,albany_df,morehead_df,eureka_df])
vacation_df.head()

,City_ID,City,Country,Current Description,Lat,Lng,Hotel Name
1,2,Jamestown,US,clear sky,42.10,-79.24,Hampton Inn & Suites Jamestown
45,73,Albany,US,broken clouds,42.60,-73.97,NaN
74,117,Morehead,US,broken clouds,37.27,-87.18,CCI Express Inn
201,369,Eureka,US,overcast clouds,40.80,-124.16,Eureka Inn

In [74]:
import gmaps
import gmaps.datasets
from  config import g_key
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
jamestown = (jamestown_df[["Lat"][0]],jamestown_df[["Lng"][0]])
albany = (albany_df[["Lat"][0]],albany_df[["Lng"][0]])
jamestown[0]

vacationTowns = {}
for index, row in vacation_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]
    
    vacationTowns[city]=(lat, lng)

fig = gmaps.figure()

jamestown2eurea = gmaps.directions_layer(
        vacationTowns["Jamestown"], vacationTowns["Eureka"], waypoints=[vacationTowns["Albany"],vacationTowns["Morehead"]])
fig.add_layer(jamestown2eurea)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
mark_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
# Add a marks of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)
fig.add_layer(marker_layer)



fig

Figure(layout=FigureLayout(height='420px'))