In [49]:
import pandas as pd
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
jamestown_df = city_data_df.loc[city_data_df["City"]=="Jamestown"]
albany_df = city_data_df.loc[city_data_df["City"] == "Albany"]
morehead_df = city_data_df.loc[city_data_df["City"] == "Morehead"]
eureka_df = city_data_df.loc[city_data_df["City"] == "Eureka"]
vacation_df = pd.concat([jamestown_df,albany_df,morehead_df,eureka_df])
vacation_df.head()

,City_ID,City_ID.1,City,Lat,Lng,Max Temp,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs),Humidity,Cloudiness,Wind Speed,Country,Date
2,2,2,Jamestown,42.10,-79.24,48.0,clear sky,0.0,0.0,24,1,16.11,US,2020-02-23 19:32:43
73,73,73,Albany,42.60,-73.97,52.0,broken clouds,0.0,0.0,29,75,3.36,US,2020-02-23 19:35:20
117,117,117,Morehead,37.27,-87.18,55.4,broken clouds,0.0,0.0,32,75,12.75,US,2020-02-23 19:40:14
369,369,369,Eureka,40.80,-124.16,55.0,overcast clouds,0.0,0.0,71,90,6.93,US,2020-02-23 19:40:37

In [30]:
#lat_lon = city_data_df
#city_data_df.loc()

    Lat    Lng
2  42.1 -79.24

In [57]:
import gmaps
import gmaps.datasets
from  config import g_key
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
jamestown = (jamestown_df[["Lat"][0]],jamestown_df[["Lng"][0]])
albany = (albany_df[["Lat"][0]],albany_df[["Lng"][0]])
jamestown[0]

vacationTowns = {}
for index, row in vacation_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]
    
    vacationTowns[city]=(lat, lng)

#morehead = (morehead_df["Lat"],morehead_df["Lng"])
#eureka = (eureka_df["Lat"],eureka_df["Lng"])

fig = gmaps.figure()
#jamestown2albany = gmaps.directions_layer(vacationTowns["Jamestown"], vacationTowns["Albany"])
#fig.add_layer(jamestown2albany)
#albany2morehead = gmaps.directions_layer(vacationTowns["Albany"], vacationTowns["Morehead"])
#fig.add_layer(albany2morehead)
#morehead2eureka = gmaps.directions_layer(vacationTowns["Morehead"], vacationTowns["Eureka"])
#fig.add_layer(morehead2eureka)
fig = gmaps.figure()
jamestown2eurea = gmaps.directions_layer(
        vacationTowns["Jamestown"], vacationTowns["Eureka"], waypoints=[vacationTowns["Albany"],vacationTowns["Morehead"]])
fig.add_layer(jamestown2eurea)

fig

Figure(layout=FigureLayout(height='420px'))